:root {
  --heading-font: "Poppins";
}
body {
  font-family: var(--heading-font);
  background: rgb(46, 48, 50);
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../img/Palawan.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(232, 237, 242, 0.9);
  text-align: center;
  padding: 200px 0;
}
header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 40px;
}
header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 3px;
  margin: 0;
}
header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(232, 237, 242, 0.9);
  padding: 16px 32px;
  border-radius: 4px;
  background-color: rgba(232, 237, 242, 0.4);
  display: inline-block;
}

.grid {
  display: grid;
  grid-gap: 54px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  background: white;
  margin: 30px 0;
}
.card-header.grid {
  grid-gap: 0;
}
.card-body {
  padding: 30px;
}
.card-footer {
  padding: 0 30px;
}
.embed {
  width: 100%;
  aspect-ratio: 1/1;
}
.btn {
  display: block;
  color: white;
  background-color: #272044;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  text-decoration: none;
  border-radius: 4px;
}

main {
  background-color: #ffffff;
}
main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
  margin: 0;
}
main h3 {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}
main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #272044;
  margin: 0;
}
main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  margin: 0;
  color: #272044;
}
main p {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}

.img-responsive {
  width: 150%;
  display: block;
}
.img-responsive-main {
  width: 100%;
  display: block;
}

footer {
  background-image: linear-gradient(rgba(5, 21, 27, 0.9), rgba(5, 21, 27, 0.9)),
    url("../img/Palawan.png");
  color: rgba(232, 237, 242, 0.9);
  background-repeat: no-repeat;
  background-size: cover;
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
section {
  margin: 0 auto;
  padding: 100px;
}
section.secondary {
  background: #f8f8f8;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0px;
}
footer ul {
  padding: 0px;
}
footer a {
  color: rgba(232, 237, 242, 0.7);
}
footer.box {
  padding: 0 10px;
  margin-left: 40px;
}
footer.box-1 {
  margin: 0;
}
.text-center {
  text-align: center;
}

main .last-section {
  margin-bottom: 40px;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
    text-align: center;
  }
  section {
    padding: 30px;
  }
  footer .box {
    padding: 0;
    margin-left: 0px;
  }
  .img-responsive-main {
    display: none;
  }
  .img-responsive {
    display: none;
  }
  .embed {
    aspect-ratio: 16/9;
  }

  .secondary h3 {
    margin-bottom: 40px;
  }
}
